
        <div class="body-content body">
            <div class="background">
            </div>
            <div class="client">
                <div class="img1">
                    <a href="/createclient" style="color:white;text-decoration:none;"><img src="assets/client.png" /></a>
                </div>
                <div class="text">
                    <a href="/createclient" style="color:white;text-decoration:none;">Client Management System</a>
                </div>
            </div>
            
            <div class="employee">
                <div class="img2">
                    <a href="/createemployee" style="color:white;text-decoration:none;"><img src="assets/employee.png"></a>
                </div>
                <div class="text">
                    <a href="/createemployee" style="color:white;text-decoration:none;">Employee Management System</a>
                </div>
            </div>
        </div>

